*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{ 
    background: url(../Pic/pexels-mariana-kurnyk-1775043.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.logback{

    padding: 20px;
    height: 230px;
    width: 300px;
    background-color:white;
    border-radius: 20px;
    
}
.btn{
display: flex;
}
.btnl{
    margin-top: 10px;
}
#btn{
    margin-left: 30px;
    padding: 10px;
}
#btn1{
    padding: 10px;
}
button a{
    text-decoration: none;
    color: black;
}
button{
    background-color: #DBCAC2;
    border-radius: 10px;
    border: none;
}
input{
 
    background-color: #DBCAC2;
    padding: 5px 10px;
    font-size: 17px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: white;
   
}
.logback h1{
    font-family: 'Segoe Script', sans-serif;
    color: #DBCAC2;
}


@keyframes preload {
    100%{
        scale: 0.7;
        opacity: 0.1;
    }
}







@media screen and (max-width: 414px) {
    body{
        height: 100%;
        width: 100%;
      
    }
    input{
        padding: 5px 10px;
        font-size: 17px;
        border: 1px solid whitesmoke;
        border-radius: 5px;
        
        color: white;
    }
}

@media screen and (max-width: 320px) {
    input{
        width: 250px;
    }
}
